body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: brown;
}

#container{
    width: 80%;
    padding: 1rem;
    text-align: center;
    border: 1px solid #44d4ee44;
    margin: 0 auto;

}
